# Auto detect text files and perform LF normalization
* text=auto
ios/** linguist-vendored
android/** linguist-vendored
windows/** linguist-vendored
macos/** linguist-vendored
linux/** linguist-vendored

*.dart linguist-detectable=true
